.bugs-doughnut-card{
    padding: 2px;
    background-color: rgb(219, 219, 219) !important
}
.bugs-yum{
    color: rgb(0, 38, 255);
    color: rgb(0, 141, 7);
    color: rgb(255, 145, 0);
    color: rgb(255, 34, 0)
}
.bugs-doughnut{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;

}
.doughnut-row{
    background-color: white;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 12px;
    padding: 5px;
}