.bugs-display{
    margin: auto
   
    
}
.card-title{
    padding-top:12px;
    padding-bottom:1px;
    padding-left:10px;
    color:rgb(252, 244, 233);
    box-shadow: 10px 10px 20px #e0e0e0,
    -10px -10px 20px white;
   background: linear-gradient(to left, rgb(255, 119, 0),rgb(255, 150, 13) , rgb(255, 161, 38) )
}
.bugs-card{
    
}