.bugs-display{
   
   
}
.card-title{
    margin-left:8%;
    color:rgb(252, 244, 233);
    box-shadow: 10px 10px 20px #e0e0e0,
    -10px -10px 20px white;
   background: linear-gradient(to left, rgb(255, 119, 0),rgb(255, 150, 13) , rgb(255, 161, 38) );
   padding: 10px;
}
.bugs-card{
    padding: 10px;
    
}
.bugs{
    padding-left: 10%;
}
.bug-row:hover{
    background-color: rgb(225, 225, 225);
}