.bugs-status-card{
    padding: 2px;
    background-color: rgb(219, 219, 219) !important;
}
.bugs-status{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 2px;

    
}